@model GEPV.Domain.Entities.Feriado

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3 class="display-5 text-primary">Feriado</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-info" })
</p>
