@model GEPV.Domain.Entities.Mensagem

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Deseja excluir este registro?</h3>
<div>
    <h3 class="display-5 text-primary">Mensagem</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataValidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataValidade)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Confirmar exclusão" class="btn btn-danger" />
        @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-info" })
    </div>
    }
</div>
